.top-bar, .top-bar ul {
  background-color: $nav-background;
}
.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    margin-bottom: 0rem;
  }

  .menu > .menu-text > p {
    margin-bottom: 0rem;
  }

  .active-link {
    font-weight: bold;
  }

}
